<header
    class="flex flex-row md:flex-column bg-slate-200 mt-1 justify-between items-center h-20 px-2  shadow-neutral-300">
    <div class="flex flex-row justify-around gap-4 items-center">
        <div>
            <NavLink class="text-2xl text-black font-bold" href="/">
                <img src="images/vendors/blazor.png" alt="logo" class="w-[50px] h-[50px]">
            </NavLink>
        </div>

        <div class="flex flex-row gap-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <FluentIcon Icon="@(Icons.Regular.Size24.Home)" /> <span>Home</span>
            </NavLink>
            <NavLink class="nav-link" href="weather">
                <FluentIcon Icon="@(Icons.Regular.Size24.WeatherHailDay)" /> <span>Weather</span>
            </NavLink>
        </div>
    </div>
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />


    <nav class="flex flex-row justify-end items-center" onclick="document.querySelector('.navbar-toggler').click()">


        <div class="">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="/Account/Login">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <div class="flex flex-row">
                        <NavLink class="nav-link" href="/Account/UserInfo">
                            <FluentIcon Icon="@(Icons.Regular.Size24.PersonAccounts)" />
                            @context.User?.Identity?.Name
                        </NavLink>
                        <NavLink href="/Account/Logout" class="nav-link">
                            <FluentIcon Icon="@(Icons.Regular.Size24.PersonAccounts)" />
                            <span>LogOut</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

    </nav>

</header>
